h5 {
  color: palevioletred;
}

#howTo {
  background-color: rgb(128, 92, 170);
}

#CrystalHeader {
  color: darkslateblue;
}

.crystalimg {
  max-height: 200px;
  max-width: 200px;
}

#scoreDisplay {
  color: darkmagenta;
  font-weight: bold;
}

#target-score {
  color: darkmagenta;
  font-weight: bold;
}

#userWins {
  color: darkmagenta;
  font-weight: bold;
}

#userLosses {
  color: darkmagenta;
  font-weight: bold;
}